body{
  background-color: #000000;
}

.grid-item{
  width: 286px;
  float: left;
}
#floatImage{
  position:absolute;
  width:50%;
  height:50px;
  top: 50%;/*10px;*/
  left: 40%;
  /*right:10px;*/
  padding:16px;
  background:#FFFFFF;
  border:2px solid #2266AA;
  z-index:100;
  centerX: true;
  centerY: true;
}

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 30px;
  color: white;
  background: #A2C;
  font-size: 22px;
  z-index: 2; /* above items */
}
